[submodule "lib/bx"]
	path = lib/bx
	url = https://github.com/bkaradzic/bx
[submodule "lib/bgfx"]
	path = lib/bgfx
	url = https://github.com/bkaradzic/bgfx
[submodule "lib/bimg"]
	path = lib/bimg
	url = https://github.com/bkaradzic/bimg
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json
[submodule "lib/cgltf"]
	path = lib/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/robin-hood-hashing"]
	path = lib/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing
